# Build outputs
dist/

# Firebase project settings
.firebase/

# GitHub Actions workflows (optional to ignore)
.github/workflows/

# Node.js dependency directory
node_modules/
src/node_modules/
functions/

# Local environment and temp files
*.local
*.log
firebase-debug.log
.expo

# TypeScript v1 declaration files
typings/

# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map
